.list-group-item:hover .btn-outline-primary {
  color: black;
  background-color: #b2ecc0;
  transition: 300ms;
}

/* .list-group-item:hover {
  color: black;
} */

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

.box {
  padding: 10px;
  margin: 20px;
  /* background-color: #88d399; */
  border-radius: 20px;
}

.box:hover {
  transition: 100ms;
  /* background-color: #d9fce1; */
}

.list-group-item {
  background-color: #b2ecc0;
  border-radius: 8px;
  padding: 12px 18px;
 
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: inline-block;
  margin: 5px 10px;
}

.btn {
  background-color: #28a745; 
  color: white;
  margin: 1px;
  border: none;
}
